@media only screen and (max-width: 290) {
        
p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    
    
}
.link{
    color: #000;
align-items: center;
padding-top: 5px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.hello{
    background-color: rgb(66, 52, 52);
}
.nav-content{
    border-bottom: 1px solid rgb(222, 219, 219);
    border-top: 1px solid rgb(222, 219, 219);
    /* background-color: rgb(157, 151, 151); */
}
.nav-container{
  margin-top: 0px;
  position: fixed !important;
  top: 0 !important;
  z-index: 100;
  margin-bottom: 0px;
  background-color: rgb(66, 52, 52);
  margin-bottom: 90px;

}
.banner-container{
    width: 100vw;
    height: 100vh;
    /* position: relative; */
    /* background-color: rgb(66, 52, 52); */

    

}
.banner-video{
      /* margin-top: 75px; */

    width: 100%;
    height: 480px ;
   
    object-fit: cover;

 }

/* .overlay:before {
        content: '';
        height: 555px ;
        height: 100vh;
        position: absolute;
        background: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      

} */
.about-video{
    width: 85%;
    object-fit: contain;
    display: flex;
    justify-content: center;
    position: relative;
    
    left: 50px;
}

.cartegories-container{
    color: white;
    background-color: rgb(66, 52, 52);
    position: relative;
    padding-top: 5px;
    margin-top: -6px;
    border-bottom: 2px solid gray;
    

}
.foot-container{
    background-color: rgb(157, 151, 151);
}
.sec{
    height: 700px !important;
}
.sec2{
    margin-top: -290px !important;
}
.sec3{
    margin-top: -270px !important;
}
.fec{
    height: 970px !important;
}
.about-container{
    background-color: rgb(66, 52, 52);
    color: white;
    border-bottom: 2px solid gray;

}
.display-container{
    background-color: rgb(66, 52, 52);
    color: white;
}
.contact{
    background-color: black;


}
.abt{
    position: relative;
    left:  0px;
    text-align: center;
}
.display-video{
    width: 20%;
    max-inline-size: 140%;
  block-size: auto;
  
 
    
}
.carousel{
    overflow: hidden;
    cursor: grab;
    width: 100%;
        background-color: rgb(66, 52, 52);

     
     
      
  }
  .form{
    display: flex;
    justify-content: center;
  }
  .span{
    padding: 0 5px;
    color: whitesmoke;
  }
  .products {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr  ;
    place-items: center;
    grid-gap: 10px;
    /* overflow: hidden; */
  }
  .store-container{
    margin-top: 100px !important;
    


  }
  
  .item-container {
    border-radius: 15px;
    width: 100%;
    margin-top: 100px !important;
    /* height: 350px; */
    display: flex;
    margin: 15%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 20px !important;
    grid-gap: 5px;
    border-bottom: 2px solid black;
    
  }
  
 
  
  .product .description {
    text-align: center;
  }
  
  .product:hover {
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .addToCartBttn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    max-width: 102px !important;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
  }
  
  .addToCartBttn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
  }


  .cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px !important;

  }
  
  .cartItem img {
    margin: 0 20px;
  }
  
  .cartItem .description  {
    width: 100%;
    font-size: 20px;
  }
  .description{
    position: relative;
    right: -4%;
    line-height: 2px;
    /* top: 50px; */
  }
  .par{
    font-size: medium;
  }
  .btnn{
    border: none;
    background-color: rgb(66, 52, 52);
    text-align: center;

  }
  .countHandler{
    background-color: rgb(66, 52, 52);
    display: flex;
    width: 40%;

  }
  .countHandler input {
    width: 40px;
    text-align: center;
    font-weight: bold;
  }
  
  .checkout button {
    width: 150px;
    height: 50px;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
  }
 
}